<!DOCTYPE html>
<html>
<head>
    <title>Skate Shop Inventory</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stlye.css">
</head>
<body>
  <nav>

  </nav>
  <h1>Skate Shop Inventory</h1>
  <%= yield %>

</body>
</html>
