body {
  background-color: #e3dac9;
  padding: 30px;
  color: #0d0000;
  font-family: 'Roboto', sans-serif;
  background-image: url("/adam-peep.png");
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: 275px 5px
}

h1 { font-family: 'Righteous', cursive;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.form-el {
  margin: 10px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: 180px;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}
