body {
  background: #FFE000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p2 {
  font-family: 'Roboto', sans-serif;
}

h1 { font-family: 'Righteous', cursive;
}

h3 {
  font-family: 'Roboto', sans-serif;
}
